beautifulsoup4==4.14.3
lxml==4.9.3
parsimonious==0.10.0
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
msgpack==1.0.6
stressrnn @ git+https://github.com/dbklim/StressRNN.git
numpy<1.24
bitarray==3.8.0
parameterized==0.9.0
