{% extends "base.html" %}
{% block title %}Авторы{% endblock %}
{% block content %}
<h1>Авторы</h1>
<p class="muted">Всего авторов: {{ authors|length }}</p>
<table>
  <tr>
    {% for col in columns %}
    <th><a href="{{ col.href }}">{{ col.label }}</a>{% if col.arrow %} {{ col.arrow }}{% endif %}</th>
    {% endfor %}
  </tr>
  {% for author in authors %}
  <tr>
    <td><a href="{{ url_for('rhyme.author', name=author['name']) }}">{{ author['name'] }}</a></td>
    <td>{{ author['groups'] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
